<ul class="p-0 m-0 d-flex flex-lg-column justify-content-evenly">
  <li routerLinkActive="active" routerLink="home">
    <i class="pi pi-home"></i>
    <h2>Home</h2>
  </li>
  <li routerLinkActive="active" routerLink="about">
    <i class="pi pi-user"></i>
    <h2>About</h2>
  </li>
  <li routerLinkActive="active" routerLink="portfolio">
    <i class="pi pi-briefcase"></i>
    <h2>Portfolio</h2>
  </li>
  <li routerLinkActive="active" routerLink="contact">
    <i class="pi pi-envelope">
      <h2>Contact</h2>
    </i>
  </li>
</ul>
