<div
  class="title text-uppercase text-start text-sm-center d-flex justify-content-start justify-content-lg-center justify-content-md-center align-items-center gap-4"
>
  <h1>about</h1>
  <span class="me">me</span>
  <span class="title-bg">Resume</span>
</div>
<div class="container pb-5 mb-5">
  <div class="col-12 d-block d-sm-none">
    <img
      class="img-fluid d-sm-block d-lg-none mobile-img"
      src="assets/pic/353868447_6180342998700400_7472827507306146142_n.jpg"
      alt=""
    />
  </div>
  <div class="row gap-5 gap-lg-0 mb-5">
    <div class="col-lg-6">
      <div class="head text-sm-center">
        <h3>Personal Info</h3>
      </div>
      <div class="body">
        <div class="col-12 small d-flex gap-5">
          <ul class="about-list list-unstyled d-flex flex-wrap flex-column">
            <li>
              <span class="titles text-capitalize">first name: </span>
              <span
                class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                >Ahmed</span
              >
            </li>
            <li>
              <span class="titles text-capitalize">last name: </span>
              <span
                class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
              >
                soliman</span
              >
            </li>
            <li>
              <span class="titles text-capitalize">Age: </span>
              <span
                class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                >23</span
              >
            </li>
            <li>
              <span class="titles text-capitalize">Nationality: </span>
              <span
                class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                >Egyptian</span
              >
            </li>
            <li>
              <span class="titles text-capitalize">freelance: </span>
              <span
                class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block green"
                >Available</span
              >
            </li>
          </ul>
          <ul class="about-list list-unstyled d-flex flex-wrap flex-column">
            <li>
              <span class="titles text-capitalize">Adress: </span>
              <span
                class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                >87 Elgazaer Street, El-Manshia, Alexandria</span
              >
            </li>
            <li>
              <span class="titles text-capitalize">Phone: </span>
              <span
                class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
              >
                01280499585</span
              >
            </li>
            <li>
              <span class="titles text-capitalize">Email: </span>
              <span
                class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                >ahmed.soliman.as13&#64;gmail.com</span
              >
            </li>
            <li>
              <span class="titles text-capitalize">Github: </span>
              <span
                class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                >https://github.com/Soly01</span
              >
            </li>
            <li>
              <span class="titles text-capitalize">Languages: </span>
              <span
                class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                >Arabic, English</span
              >
            </li>
          </ul>
        </div>
        <div class="foot">
          <p-button>
            <a
              href="https://drive.google.com/file/d/190o52ivacz9IMmI3C3YYtMHuunnSWCrA/view?usp=sharing"
            >
              <span class="button-text text-uppercase">download cv</span>
              <span class="button-icon pi pi-download"></span> </a
          ></p-button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row gap-3 justify-content-center">
        <div class="col-6 d-flex justify-content-center box1">
          <div class="box">
            <h3 class="num">6</h3>
            <p class="years text-uppercase">
              months of
              <span class="d-block">EXPERIENCE</span>
            </p>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-center box1">
          <div class="box">
            <h3 class="num">13</h3>
            <p class="years text-uppercase">
              COMPLETED
              <span class="d-block">PROJECTS</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sperator"></div>
  <div class="row">
    <div class="col-12">
      <h3
        class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-start text-sm-center custom-title ft-wt-600"
      >
        my skills
      </h3>
    </div>
    <div class="col-6 col-md-3 mb-3 mb-sm-5">
      <div
        class="card mb-4 c100 flex align-items-center justify-content-center"
      >
        <p-knob
          textColor="var(--white)"
          [disabled]="true"
          valueTemplate="{value}%"
          [size]="120"
          valueColor="#ffb400"
          [(ngModel)]="value"
          [strokeWidth]="10"
        ></p-knob>
      </div>
      <h6 class="text-center">HTML</h6>
    </div>
    <div class="col-6 col-md-3 mb-3 mb-sm-5">
      <div
        class="card mb-4 c100 flex align-items-center justify-content-center"
      >
        <p-knob
          textColor="var(--white)"
          [disabled]="true"
          valueTemplate="{value}%"
          [size]="120"
          valueColor="#ffb400"
          [(ngModel)]="valuee"
          [strokeWidth]="10"
        ></p-knob>
      </div>
      <h6 class="text-center">CSS</h6>
    </div>
    <div class="col-6 col-md-3 mb-3 mb-sm-5">
      <div
        class="card mb-4 c100 flex align-items-center justify-content-center"
      >
        <p-knob
          textColor="var(--white)"
          [disabled]="true"
          valueTemplate="{value}%"
          [size]="120"
          valueColor="#ffb400"
          [(ngModel)]="valueee"
          [strokeWidth]="10"
        ></p-knob>
      </div>
      <h6 class="text-center">JAVASCRIPT</h6>
    </div>
    <div class="col-6 col-md-3 mb-3 mb-sm-5">
      <div
        class="card mb-4 c100 flex align-items-center justify-content-center"
      >
        <p-knob
          textColor="var(--white)"
          [disabled]="true"
          valueTemplate="{value}%"
          [size]="120"
          valueColor="#ffb400"
          [(ngModel)]="valueeee"
          [strokeWidth]="10"
        ></p-knob>
      </div>
      <h6 class="text-center">TYPESCRIPT</h6>
    </div>
    <div class="col-6 col-md-3 mb-3 mb-sm-5">
      <div
        class="card mb-4 c100 flex align-items-center justify-content-center"
      >
        <p-knob
          textColor="var(--white)"
          [disabled]="true"
          valueTemplate="{value}%"
          [size]="120"
          valueColor="#ffb400"
          [(ngModel)]="valueeeee"
          [strokeWidth]="10"
        ></p-knob>
      </div>
      <h6 class="text-center">Angular</h6>
    </div>
    <div class="col-6 col-md-3 mb-3 mb-sm-5">
      <div
        class="card mb-4 c100 flex align-items-center justify-content-center"
      >
        <p-knob
          textColor="var(--white)"
          [disabled]="true"
          valueTemplate="{value}%"
          [size]="120"
          valueColor="#ffb400"
          [(ngModel)]="valueeeeee"
          [strokeWidth]="10"
        ></p-knob>
      </div>
      <h6 class="text-center">BOOTSTRAP</h6>
    </div>
    <div class="col-6 col-md-3 mb-3 mb-sm-5">
      <div
        class="card mb-4 c100 flex align-items-center justify-content-center"
      >
        <p-knob
          textColor="var(--white)"
          [disabled]="true"
          valueTemplate="{value}%"
          [size]="120"
          valueColor="#ffb400"
          [(ngModel)]="valueeeeeee"
          [strokeWidth]="10"
        ></p-knob>
      </div>
      <h6 class="text-center">SASS</h6>
    </div>
    <div class="col-6 col-md-3 mb-3 mb-sm-5">
      <div
        class="card mb-4 c100 flex align-items-center justify-content-center"
      >
        <p-knob
          textColor="var(--white)"
          [disabled]="true"
          valueTemplate="{value}%"
          [size]="120"
          valueColor="#ffb400"
          [(ngModel)]="valueeeeeeee"
          [strokeWidth]="10"
        ></p-knob>
      </div>
      <h6 class="text-center">GIT&GITHUB</h6>
    </div>
  </div>
  <div class="sperator mt-1"></div>
  <div class="row">
    <div class="col-12">
      <h3
        class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-start text-sm-center custom-title ft-wt-600"
      >
        education
        <span>&</span>
        EXPERIENCE
      </h3>
    </div>
    <div class="col-lg-6">
      <div class="resume-box">
        <ul>
          <li>
            <div class="icon">
              <i class="pi pi-briefcase"></i>
            </div>
            <span class="text-uppercase time"> 2023-2024 </span>
            <h5 class="text-capitalize">FRONTEND-DEVELOPMENT(ANGULAR)</h5>
            <p class="text-capitalize">
              self study (online courses) =>
              <br />
              --elzero web school.
              <br />
              --angular army.
              <br />
              --Angular - The Complete Guide (2023 Edition) by Maximilian.
            </p>
          </li>
        </ul>
      </div>
      <div class="resume-box">
        <ul>
          <li>
            <div class="icon">
              <i class="pi pi-briefcase"></i>
            </div>
            <span class="text-uppercase time"> 2019-2023 </span>
            <h5 class="text-capitalize">
              facutly of tourism and hotels (hotels department)
            </h5>
            <p class="text-capitalize">
              Bachelor's Degree from the Faculty of Tourism and Hotels at
              Alexandria University.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="resume-box">
        <ul>
          <li>
            <div class="icon">
              <i class="pi pi-briefcase"></i>
            </div>
            <span class="text-uppercase time"> Jan 2024- feb 2024 </span>
            <h5 class="text-capitalize">dash-board-soly01.vercel.app/</h5>
            <p class="text-capitalize">
              --using angular 16 and prime ng library
              <br />
              --managed to make a dashboard that depends on local storage and
              JSON files to get the data from
              <br />
              -- full functioning login and register forms
              <br />
              -- full functioning change password and email of the user from the
              setiings
            </p>
          </li>
        </ul>
      </div>
      <div class="resume-box">
        <ul>
          <li>
            <div class="icon">
              <i class="pi pi-briefcase"></i>
            </div>
            <span class="text-uppercase time"> feb 2024-mar 2024 </span>
            <h5 class="text-capitalize">
              angular-ecommerce-kb0cyg636-soly01.vercel.app/
            </h5>
            <p class="text-capitalize">
              --using angular 17 and prime ng library
              <br />
              --fully working register ,complete register and login forms
              <br />
              --using fake store api making a fully functioning e-commerce
              <br />
              --setting for the user to change themes and check his ordering
              history
              <br />
              --contact us page that will send email to me directly
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
